<div class="row"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>ADD NEW CARD</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
                <input type="text" class="search-pokemon" name="search-pokemon">
                <button id="search-pokemon" for="search-pokemon">Search Pokemon</button>
        </div>
        <div class="col-sm-4">
            <form>
                <label for="cars">Filter:</label>
                <select name="filter" id="filter">
                    <option value="rarity">Rarity</option>
                </select>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <row>
        <div class="col">
            <h1>CARDS WILL GENERATE HERE</h1>
        </div>
    </row>
</div>
<div class="row"></div>
<script type="text/javascript" src="../assets/js/add_card.js"></script>