<div class="uk-container">
    <div class="my-container uk-margin-large-top ">
        <div class="container-inner-border">
            <div class="row">
                <h1>Add New Card</h1>
            </div>
            <div class="row">
                <form class="uk-form">
                    <input type="text" class="uk-form-width-medium uk-form-large search-pokemon" name="search-pokemon"
                        placeholder="Search for Pokemon">
                    <button class="uk-button uk-button-primary uk-button-large" id="search-pokemon-btn"
                        for="search-pokemon">Search</button>
                    <div class="search-filter uk-align-right">
                        <div class="uk-inline">
                            <button class="uk-button uk-button-primary" type="button" id="addCardFilter">Filter by
                                type:</button>
                            {{!-- <div uk-dropdown="pos: bottom-justify">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li class="uk-nav-header">Rarity</li>
                                    <li><a href="#">Common</a></li>
                                    <li><a href="#">Uncommon</a></li>
                                    <li><a href="#">Rare</a></li>
                                    <li><a href="#">Special</a></li>
                                </ul>
                            </div> --}}
                        </div>
                    </div>
                </form>
            </div>
            <div class="uk-column-1-6@s searchedCards">
                {{#each pokemon}}
                <button class="pokemonCards" id="{{id}}" src="{{imageUrl}}">
                    <img src="{{imageUrl}}"></img>
                </button>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../assets/js/add_card.js"></script>