<div class="uk-container">
    <a href="/logout" class="uk-button uk-button-primary uk-button-large uk-align-right">Logout</a>
</div>
<div class="uk-container" id="addCardPage">
    <div class="my-container uk-margin-large-top ">
        <div class="container-inner-border add_card">
            <div class="row">
                <h1>Add New Card</h1>
            </div>
            <div class="uk-alert-success" id="alert" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p class="alertText">Card added successfully!</p>
            </div>
            <div class="row">
                <fieldset class="searchFields">
                    <form class="uk-form">
                        <input type="text" class="uk-form-width-medium uk-form-large search-pokemon"
                            name="search-pokemon" placeholder="Search for Pokemon">
                        <button class="uk-button uk-button-primary uk-button-large" id="search-pokemon-btn"
                            for="search-pokemon">Search</button>
                    </form>
                </fieldset>
            </div>
            <div class="row">
                <div class="uk-column-1-6">
                    {{#each pokemon}}
                    <button class="pokemonCards {{rarity}}" id="{{id}}" src="{{imageUrl}}">
                        <img src="{{imageUrl}}"></img>
                    </button>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="uk-container uk-align-center">
    <a href="/collection" class="uk-button uk-button-primary uk-button-large uk-align-center">View my Collection</a>
</div>

<script type="text/javascript" src="../assets/js/add_card.js"></script>