<div class="row">

    <h1>{{userInfo.firstName}}'s Collection</h1>

</div>

<div class="row">
    <form class="uk-form">
        <fieldset data-uk-margin class="searchFields">
            <div class="search-filter uk-align-right">
                <div class="uk-inline">
                    <button class="uk-button uk-button-primary" type="button">Filter by
                        type:</button>
                    <div uk-dropdown="pos: bottom-justify">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li class="uk-nav-header">Rarity</li>
                            <li><a href="#">Common</a></li>
                            <li><a href="#">Uncommon</a></li>
                            <li><a href="#">Rare</a></li>
                            <li><a href="#">Special</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>