<div class="uk-container" id="loginPage">
    <div class="uk-flex uk-flex-center">
        <div class="uk-margin-medium-top loginCard">
            <img src="../assets/img/pokeTrader.png" alt="PokeTrader Logo">
            <h3 class="uk-text-center">Your Trusted Source for Trading Cards Securely Online</h3>

            <div class="uk-column-1-2">
                <div>
                    <form id="loginForm">
                        <label for="username" class="uk-form-label">Username</label>
                        <input type="text" class="uk-input" id="email-input">
                        <label for="password" class="uk-form-label">Password</label>
                        <input type="password" class="uk-input" id="password-input">
                        <div class="uk-text-center">
                            <button type="submit" class="uk-button uk-button-default uk-margin-medium-top"
                                id="login-btn">Log in</button>
                            <br>
                            <a href="/sign-up" class="uk-link ">Sign up now!</a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="../assets/js/login.js"></script>
