{{!-- <div class="uk-container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Sign Up Form</h2>
            <form class="signup">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="email-input" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="password-input" placeholder="Password">
                </div>
                <button class="uk-button uk-button-default uk-button-large">Sign Up</button>
            </form>
            <br />
            <p>Or log in <a href="/">here</a></p>
        </div>
    </div>
</div> --}}

<div class="uk-flex uk-flex-center">
    <div class="uk-margin-medium-top loginCard">
        <h2 class="uk-text-center">PokeTrader</h2>
        <h3 class="uk-text-center">Your Trusted Source for Trading Cards Securely Online</h3>

        <div class="uk-column" <div>
            <form id="loginForm">
                <div class="row">
                    <label for="firstName" class="uk-form-label">First Name</label>
                    <input type="text" class="uk-input" id="firstName">

                    <label for="lastName" class="uk-form-label">Last Name</label>
                    <input type="password" class="uk-input" id="lastName">
                </div>
                <div class="row">
                    <label for="email-address" class="uk-form-label">Email Address</label>
                    <input type="text" class="uk-input" id="email-address">

                    <label for="password" class="uk-form-label">Password</label>
                    <input type="password" class="uk-input" id="username">
                </div>
            </form>
        </div>

        <div class="uk-text-center">

            <input form="signUpForm" type="submit" value="Sign Up"
                class="uk-button uk-button-default uk-margin-medium-top">
                <br>
                <p>Already have an account?</p>
                <a href="/" class="uk-link ">Log in</a>
        </div>

    </div>

</div>
</div>