<div class="uk-container">
    <a href="/logout" class="uk-button uk-button-primary uk-button-large uk-align-right">Logout</a>
</div>
<div class="uk-container" id="updatePage">
    <div class="my-container uk-margin-large-top ">
        <div class="container-inner-border add_card">
            <div class="row">
                <h1>Delete a Card</h1>
                <h3 id="deleteCard">Click on a Card to Delete it</h3>
            </div>
            <div class="uk-alert-success" id="alert" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p class="alertText">Card Deleted!</p>
            </div>
            <div class="row">
                <fieldset class="searchFields">
                    <form class="uk-form">
                        <div class="search-filter uk-align-right">
                            <div class="uk-inline">
                                <button class="uk-button uk-button-primary" type="button" id="addCardFilter">Filter by
                                    type:</button>
                                <div uk-dropdown="pos: bottom-justify">
                                    <ul class="uk-nav uk-dropdown-nav">
                                        <li class="uk-nav-header">Sort by:</li>
                                        <li><a href="#">All Cards</a></li>
                                        <li><a href="#">Favorites</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </fieldset>
            </div>
            <div class="row">
                <div class="uk-column-1-6">
                    {{#each pokemon}}
                    <button class="pokemonCards delete" data-id="{{this.id}}" src="{{this.card_img}}">
                        <img src="{{this.card_img}}"></img>
                    </button>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="uk-container uk-align-center">
    <a href="/add-card" class="uk-button uk-button-primary uk-button-large uk-align-left">Add New Card</a>
    <a href="/collection" class="uk-button uk-button-primary uk-button-large uk-align-right">View my Collection</a>
</div>
<script type="text/javascript" src="../assets/js/update.js"></script>