body,
html {
  font-family: "Press Start 2P", cursive;
  background-image: url("../img/pokeBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
}
.loginCard {
  max-width: 600px;
}
.pokemonCards {
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0);
  transition: transform .2s; 
  display: block;
}
.pokemonCards:hover {
  transform: scale(1.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
h1 {
  text-align: center;
  font-family: "Press Start 2P", cursive;
  color: yellow;
  -webkit-text-stroke: 2px black;
}
h2 {
  font-family: "Press Start 2P", cursive;
}
h3 {
  font-family: "Press Start 2P", cursive;
}

::placeholder {
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
}

.container-inner-border {
  height: 100%;
  border: 5px solid yellow;
  overflow-x: hidden;
  padding: 25px 25px 40px;
}
.my-container {
  background-image: url("../img/starburst.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 10px solid blue;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#loginPage {
  position: relative;
  top: 50%;
  transform: translateY(-60%);
}

#signUpPage {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.add_card {
  min-height: 400px;
}

#alert {
  display: none;
  background-image: url("../img/starburst.jpg");
  border: 5px solid yellow;
  color: yellow;
}

.searchFields {
  height: 100%;
  padding-top: 20px;
  border: transparent;
}

#addCardFilter {
  position: relative;
  top: 50%;
  transform: translateY(30%);
}

#pokeLogo {
  margin-right: auto;
  margin-left: auto;
}
