body,
html {
  font-family: "Press Start 2P", cursive;
  height: 100%;
  background-image: url("../img/pokeBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.loginCard {
  max-width: 600px;
}

.pokemonCards {
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0);
}

h1 {
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

h2 {
  font-family: "Press Start 2P", cursive;
}

h3 {
  font-family: "Press Start 2P", cursive;
}
.container-inner-border {
  height: 100%;
  border: 5px solid yellow;
  overflow-x: hidden;
  padding: 25px 25px 40px;
}
.my-container {
  background-image: url("../img/starburst.jpg");
  /* background-size: cover; */
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  /* background-color: #82e2d3; */
  border: 10px solid blue;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  
  /* top: 50%;
  transform: translateY(-50%); */
}

.searchFields {
  /* background-color: #ff9989; */
  height: 100%;
  padding-top: 20px;
}

#addCardFilter {
  position: relative;
  top: 50%;
  transform: translateY(30%);
}

#pokeLogo {
  margin-right: auto;
  margin-left: auto;
}

.searchedCards {
  background-color: #ff9989;
}
